:root {
  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 10px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
  --max-width: 1000px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --primary-colour: rgb(0, 0, 0);
  --secondary-colour: rgb(30, 30, 30);
  --highlight-colour: rgb(20, 150, 200);

  --background-colour: rgb(255, 255, 255);

  --link-colour: #006ed4;

  --card-bg: var(238, 240, 241);
  --card-border-colour: rgb(131, 134, 135);
  --input-background-colour: rgb(255, 255, 255);

  --secondary-border-colour: rgb(130, 130, 130);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-colour: rgb(255, 255, 255);
    --secondary-colour: rgb(200, 200, 200);
    --highlight-colour: rgb(20, 150, 200);
    --background-colour: rgb(20, 20, 30);

    --card-bg: rgb(28, 33, 41);
    --card-border-colour: rgb(100, 100, 100);
    --input-background-colour: rgb(25, 35, 40);
    --secondary-border-colour: rgb(80, 80, 80);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.base {
  color: var(--primary-colour);
  background-color: var(--background-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  white-space: pre-line;
  margin-bottom: var(--spacing-md);
  line-height: 1.5rem;
}

a {
  color: var(--highlight-colour);
  margin-bottom: var(--spacing-md);
  text-decoration: none;
}

textarea {
  all: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--card-border-colour);
  resize: none;
  padding: var(--spacing-md);
  line-height: 1.8rem;
  height: calc(1.8rem + 2 * var(--spacing-md));
  background-color: var(--input-background-colour);
}

section {
  border-radius: var(--border-radius);
  border: 1px solid var(--card-border-colour);
  background-color: var(--card-bg);
  width: 100%;
  max-width: var(--max-width);
  padding: var(--spacing-lg);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

blockquote {
  font-family: Georgia, serif;
  font-size: 1rem;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  position: relative;
}

blockquote:before {
  line-height: 1.45;
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
}